*{
    margin: 0;
    padding: 0 ;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #FD6569;
    padding: 10px;
}

.container{
    padding: 10px;
}

.book-container{
   padding: 15px;
   width: 25%;
   background-color: black;
   border-radius: 10px;
   color: white;
   margin: 30px;
   display: inline-block;
   vertical-align: top;
}

.book-container h2{
    color: #FD6569;
}
  
.book-container button{
    background-color: #FD6569;
    color: black;
    border-radius: 10px;
    padding-top: 5PX;
    padding-left: 10PX;
    padding-right: 10px;
    padding-bottom: 5px;
    border: none;
    margin-top: 10px;
}

.add-button{
    position: fixed;
    background-color: #FD6569;
    color: black;
    border: none;
    border-radius: 100%;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 30px;
    right: 30px;
} 

.popup-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    display: none;
}

.popup-box{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: #FD6569;
    padding: 40px;
    border-radius: 10px;
    z-index: 2;
    width: 40%;
    display: none;
}

.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
} 

.popup-box textarea{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
} 

.popup-box input::placeholder
{
    color: black;
}

.popup-box textarea::placeholder
{
    color: black;
}

.popup-box button{
    background-color: black;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
}

.popup-box input:focus{
    outline: none;
}

.popup-box textarea:focus{
    outline: none;
}